<footer class="footer">
    <p>© 2016 Powered by the Virgil.</p>
</footer>

<!--[if lt IE 9]>
<script src="/javascript/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/javascript/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/javascript/jquery.min.js"></script>
<!--<![endif]-->
<script src="/javascript/amazeui.min.js"></script>
<script src="/javascript/currentPath.js"></script>
</body>
</html>

