<%- include header %>
<div class="am-g am-g-fixed content">
    <ul class="am-list am-list-border">
        <li>
            <a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a>
        </li>
        <li>
            <a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a>
        </li>
        <li>
            <a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a>
        </li>
    </ul>
</div>
<%- include footer %>