<% if (!isFirstPage) { %>
<div>
    <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
</div>
<% } %>

<% if (!isLastPage) { %>
<div>
    <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
</div>
<% } %>
