<section class="am-panel am-panel-default">
    <div class="am-panel-hd">标签云</div>
    <div class="am-panel-bd">
        <div class="am-avg-sm-4 am-btn-group blog-team">
            <% tags.forEach(function (tag, index) { %>
            <a class="am-btn am-btn-secondary am-btn-sm am-radius" href="/tags/<%= tag %>"><%= tag %></a>
            <% }) %>
        </div>
    </div>
</section>