/*font-size 引入 */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  background-color: #ebebeb;
}
body .content {
  min-height: 860px;
}
header {
  width: 100%;
}
header h1 {
  display: block;
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 3em;
  color: #fff;
  background-color: #ea6753;
}
nav {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 35px;
}
.nav {
  width: 100%;
  font-family: "Helvetica Neue", "Microsoft YaHei";
}
.nav li {
  display: inline-block;
  height: 4em;
  padding: 0 21px;
  text-align: center;
  line-height: 4em;
  list-style: none;
  background-color: #fff;
}
.nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #505050;
}
.nav li a:hover {
  color: #ea6753;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}
.search {
  width: 8em;
  height: 1.5em;
  border: 0;
  font-size: 1em;
  outline: none;
}
.current-link {
  border-bottom: 2px solid #ea6753;
}
.container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .row {
    width: 90%;
    padding: 0 5%;
  }
  .row::after {
    display: block;
    content: "";
    clear: both;
  }
  .row main {
    float: left;
    width: 66%;
  }
  .row main article {
    width: 90%;
    padding: 5%;
    margin-bottom: 35px;
    background-color: #fff;
  }
  .row aside {
    float: left;
    width: 31%;
    margin-left: 3%;
  }
  .widget {
    width: 90%;
    padding: 5%;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .row {
    width: 90%;
    margin: 0 auto;
  }
  .row::after {
    display: block;
    content: "";
    clear: both;
  }
  .row main {
    width: 100%;
  }
  .row main article {
    width: 90%;
    padding: 5%;
    margin-bottom: 35px;
    background-color: #fff;
  }
  .row aside {
    width: 100%;
    margin-left: 0;
  }
  .widget {
    width: 90%;
    padding: 5%;
    margin-bottom: 35px;
    background-color: #fff;
  }
}
.info {
  font-size: 14px;
  text-decoration: none;
}
.post-title {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  font-weight: normal;
}
.post-title a {
  font-size: 2em;
  color: #303030;
}
.post-meta {
  margin-top: 15px;
  text-align: center;
  color: #959595;
}
.post-meta span {
  margin: 0 7px;
  white-space: nowrap;
}
.post-meta a {
  color: #e67e22;
}
.post-content {
  max-height: 6em;
  overflow: hidden;
  margin: 30px 0;
  color: #444443;
  font-size: 1.2em;
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}
.post-permalink {
  width: 100%;
  padding-bottom: 30px;
}
.post-permalink .btn {
  display: inline-block;
  width: 6em;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e67e22;
  border-radius: 3px;
  background: #ea6753;
  color: #ffffff;
  text-align: center;
}
.post-permalink .btn:hover {
  border: 1px solid #007ed9;
  background-color: #337ab7;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.post-tags {
  width: 100%;
  height: 30px;
  padding-top: 30px;
  line-height: 30px;
  font-size: 1em;
  color: #959595;
  border-top: 1px solid #959595;
}
.post-tags a {
  color: #959595;
}
.post-tags a:hover {
  color: #ea6753;
}
.post-statistic {
  float: right;
  height: 30px;
  line-height: 30px;
  color: #959595;
}
.title {
  width: 100%;
  height: 30px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}
.tags-cloud {
  width: 100%;
}
.tags-cloud a {
  display: inline-block;
  padding: 2px 7px;
  margin: 0 7px 7px 0;
  color: #959595;
  line-height: 1.5em;
  border: 1px solid #ebebeb;
}
.tags-cloud a:hover {
  color: #fff;
  background-color: #ea6753;
  border: 1px solid #ea6753;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.hot {
  list-style: none;
  line-height: 28px;
}
.hot h3 {
  margin: 0.5em 0;
}
.hot a {
  width: 60%;
  color: #959595;
  overflow: hidden;
}
.hot a:hover {
  color: #ea6753;
}
.hot span {
  display: block;
  width: 30%;
  float: right;
}
.archive {
  list-style: none;
  line-height: 28px;
}
.archive h3 {
  margin: 0.5em 0;
}
.archive time {
  float: left;
  font-size: 14px;
  color: #999999;
  margin-right: 1.2em;
}
.archive a {
  color: #959595;
}
.archive a:hover {
  color: #ea6753;
}
footer {
  width: 100%;
  background-color: #111111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-top: 50px;
  border-top: 1px solid #303030;
}
.edit {
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 13px;
}
.edit:hover {
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  -webkit-transition: color 1s linear;
}
.article-content {
  margin: auto;
  padding: 30px 0;
}
.article-content li {
  margin-left: 2%;
}
.media-list {
  width: 100%;
  list-style: none;
  border-left: 2px solid #ea6753;
  margin-top: 5px;
}
.media-list .media {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.media-list .media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.media-list .media a {
  color: #ea6753;
}
.media-list .media span {
  color: #555555;
}
.media-list .media a,
.media-list .media span {
  float: left;
  display: block;
  height: 50px;
  padding: 0 5px;
}
.media-list .media-content {
  padding: 10px 0px 10px 20px;
}
.media-list .media-content p {
  word-break: break-all;
}
.comment {
  margin-top: 30px;
}
.page_bar {
  margin: 0 auto;
  text-align: center;
}
.page {
  display: inline-block;
  font-weight: bold;
}
.page a {
  display: block;
  text-decoration: none;
  padding: .5em .5em;
  color: #fff;
  background-color: #ea6753;
}
.page a:hover {
  text-decoration: none;
  background-color: #337ab7;
  color: #f9f9f9;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.current_page span {
  display: block;
  padding: .5em .5em;
  color: #fff;
  background-color: #337ab7;
}
.l_head {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: -4em;
  box-shadow: 0px 1px 4px #888;
}
.r_head {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -2.5em;
  box-shadow: 0px 1px 4px #888;
}
.user-post {
  width: 80%;
  margin: 0 auto 35px auto;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  border-left: 3px solid #e67e22;
}
.user-post .user-post-title {
  color: #e67e22;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  font-weight: normal;
}
.user-post .user-post-title a {
  font-size: 2em;
  color: #303030;
}
.user-post .user-post-meta {
  float: right;
}
.user-post .user-post-meta .user-post-name,
.user-post .user-post-meta .user-post-time {
  color: #959595;
}
.user-post .user-post-meta .user-post-name {
  margin-right: 10px;
}
.user-post .user-post-meta .user-post-name span {
  margin: 0 7px;
  white-space: nowrap;
}
.user-post .user-post-meta .user-post-name a {
  color: #e67e22;
}
.user-post .user-post-tags {
  width: 100%;
  margin-top: 10px;
  color: #959595;
}
.user-post .user-post-tags a {
  color: #959595;
}
.user-post .user-post-tags a:hover {
  color: #ea6753;
}
.user-post .user-post-statistic {
  float: right;
}
